<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Calculo de Porcentagem de Adm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Cache-Control" content="no-cache">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="assets/scripts/jQuery-Mask-Plugin-master/dist/jquery.mask.js"></script>
    <script type="text/javascript" src="assets/scripts/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/vuejs-tips/v-money/master/dist/v-money.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152050620-2"></script>
    <link rel="icon" type="image/png" href="https://imoalert.com.br/application/views/site/themes/default/app/assets/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="stylesheet" href="assets/style/default.css?fixcache=1213213">

</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-152050620-2');
</script>

<body>
    <div id='app'>
        <div class="container box">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9" style="padding-top: 20px;">
                        <h4 style="line-height: 0;">Calculadora de taxa administrativa</h4>
                        <small class='text-muted'>v2.0.1</small>
                    </div>
                    <div class="col-md-3 text-end" style="padding-right: 20px;">
                        <a href="https://imoalert.com.br" target="_blank" rel="noopener noreferrer">
                            <img id='logo_imoalert_header' src="https://imoalert.com.br/application/views/site/themes/default/app/assets/img/logo[blue].png" alt="">
                        </a>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding: 20px;">
                        <div v-if='opcaoCalculo != null'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="vl_aluguel"><span class='required'>*</span>Valor de aluguel</label>
                                    <input type="text" class="form-control lg-input" v-money="money" v-model='valores.vl_aluguel' name="vl_aluguel" id="vl_aluguel">
                                </div>
                            </div>
                            <div class='col-md-12 pt-3' v-if='opcaoCalculo === 1'>
                                <div class="form-group">
                                    <label for="vl_repasse"><span class='required'>*</span>Valor de repasse</label>
                                    <input type="text" class="form-control lg-input" v-money="money" v-model='valores.vl_repasse' name="vl_repasse" id="vl_repasse">
                                </div>
                            </div>
                            <div class='col-md-12 pt-3' v-if='opcaoCalculo === 2'>
                                <div class="form-group">
                                    <label for="vl_taxa"><span class='required'>*</span>Valor de taxa</label>
                                    <input type="text" class="form-control lg-input" v-money="percent" v-model='valores.vl_taxa' name="vl_taxa" id="vl_taxa">
                                </div>
                            </div>
                        </div>
                        <div class='col-md-12 pt-2 d-md-block'>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" v-if='opcaoCalculo != null' v-on:click='calcular()' type="button">Calcular</button>
                                <button class="btn btn-primary" v-if='opcaoCalculo != null' v-on:click='limparCampos()' type="button">Limpar</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#selecaoTipoCalculo">
                                    Selecionar tipo de cálculo
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding: 60px 20px 20px 20px;">
                        <div class='col-md-12 bg-rosa'>
                            <div class="col-xs-12">
                                <p>% taxa aproximada</p>
                            </div>
                            <div class="col-xs-12">
                                <h4>{{valores.vlf_taxaadm}}</h4>
                            </div>
                        </div>
                        <div class='col-md-12 bg-rosa'>
                            <div class="col-xs-12">
                                <p>Valor de repasse (Prova real)</p>
                            </div>
                            <div class="col-xs-12">
                                <h4>{{valores.vlf_repassereal}}</h4>
                            </div>
                        </div>
                        <div class='col-md-12 bg-rosa'>
                            <div class="col-xs-12">
                                <p>Valor ADM imob</p>
                            </div>
                            <div class="col-xs-12">
                                <h4>{{valores.vlf_admimob}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Histórico de cálculos</h4>

                    </div>
                    <div class="col-sm-6 text-end">
                        <button type="button" class="btn btn-secondary" v-on:click='clearHistorico()'>Limpar histórico</button>
                    </div>

                </div>
                <div class="col-md-12">
                    <table class="table table-sm table-responsive">
                        <thead>
                            <td><small>Vl. Aluguel</small></td>
                            <!-- <td><small>Vl. Taxa</small></td> -->
                            <td><small>Vl. Adm</small></td>
                            <td><small>Vl. Repasse</small></td>
                            <td><small>% taxa adm</small></td>
                        </thead>
                        <tbody>
                            <tr v-if='historicoCalculos.length === 0'>
                                <td colspan="5" class="text-center">
                                    <p class="text-muted">Nenhum histórico encontrado</p>
                                </td>
                            </tr>
                            <tr v-for='item in historicoCalculos'>
                                <td><small>{{item.vl_aluguel}}</small></td>
                                <!-- <td><small>{{item.vl_taxa}}</small></td> -->
                                <td><small>{{item.vlf_admimob}}</small></td>
                                <td><small>{{item.vlf_repassereal}}</small></td>
                                <td><small>{{item.vlf_taxaadm}}</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 60px;">
                <hr>
                <small class='text-muted'>Encontrou alguma divergência? <a href="mailto:suporte@metasig.com.br">Entre em contato conosco.</a> </small>
            </div>
            <div class="col-md-12 text-center">
                <a href="https://imoalert.com.br" target="_blank" rel="noopener noreferrer">
                    <img id='logo_imoalert_footer' src="https://imoalert.com.br/application/views/site/themes/default/app/assets/img/logo[blue].png" alt="">
                </a>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="selecaoTipoCalculo" tabindex="-1" aria-labelledby="selecaoTipoCalculoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="selecaoTipoCalculoLabel">Selecionar o método de cálculo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="container">
                                <div class="d-grid gap-2">
                                    <button type="button" name="" id="" v-on:click='opcaoCalculo = 1' v-bind:class='{"btn-active": (opcaoCalculo === 1 ? true : false)}' class="btn btn-secondary">Cálculo usando o valor do aluguel e valor de repasse ao proprietário</button>
                                    <button type="button" name="" id="" v-on:click='opcaoCalculo = 2' v-bind:class='{"btn-active": (opcaoCalculo === 2 ? true : false)}' class="btn btn-secondary">Cálculo usando o valor de aluguel e porcentagem de taxa de administrativa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/scripts/vue_script.js"></script>

</html>